.menu-lateral {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
                        /* Ou podemos trocar por 
                        repeat(3, auto) */
    row-gap: 2rem;
}

.menu-lateral__logo {
    justify-self: center;
}